<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BuildFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SimiCartBundle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SimiCartPluginFW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3704881D19078FB1004BD051</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>375089F619076332001E7DD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37813D5C1876943800A9371B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6162333F1A14640D003BDD87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80A3CF7019E6315F002CBA51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80A3CF7819E631C8002CBA51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80A3D1B819E63DAC002CBA51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80A3D45C19E649AB002CBA51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
