<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BuildFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SimiCart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SimiCartBundle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SimiCartDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SimiCartPluginFW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TestLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3704881D19078FB1004BD051</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37452D8C1906720B00329B2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37452D991906720C00329B2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>375089F619076332001E7DD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>376DEBC31907453F003D5CA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>376DEBD01907453F003D5CA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37813D5C1876943800A9371B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37813D771876943800A9371B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3781AEED19075AAA003FD7F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3781AEFA19075AAB003FD7F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37899F6518ACAAB00020C1EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37C8DDC818FBC0D0001EF596</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37C8DEB218FBC72B001EF596</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37D2CECC1907A5EA00AB371C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
